<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Entries</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>view feedback</h1>
<table id="entriesTable">
    <thead>
        <tr>
            <td>feedback</td>
            <td>date</td>
            <td>user</td>
        <tr>
            {%for i in val%}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">reply</a></td>
               
                
                
            </tr>
            {%endfor%}
    

        </tr>
    </thead>
    <tbody>
        <div class="action-buttons"></div>
        <a href=""><button class="btn btn-reply">reply</button></a>
    </div>

    </tbody>
</table>
</body>
</html>
